:root {
    --color-principal: #9169f4;
    --color-secundario: #653176;
}

/* Estilo para redes sociales */
.contenedor-redes {
    height: 30px;
    width: 100%;
    font-size: 1.2rem;
    background-color: var(--color-principal);
    display: flex;
    align-items: center;
    justify-content: center;
}
i{
    color: var(--color-secundario);
}
/* Título principal */
.container-titulo {
    color: var(--color-principal);
    font-size: 15rem;
    margin: 20px auto;
}

/* Estilo para los enlaces del navbar */
.navbar-nav .nav-link {
    position: relative;
    transition: all 0.3s ease;
    font-size: 1rem;
}

/* Hover en los enlaces */
.navbar-nav .nav-link:hover {
    color: var(--color-secundario);
    border-top: 3px solid var(--color-principal);
    padding-top: 5px;
}

/* Personalizar botón morado */
.btn-morado {
    color: var(--color-secundario);
    border-color: var(--color-principal);
}

/* Hover para el botón morado */
.btn-morado:hover {
    background-color: var(--color-principal);
    color: #fff;
    border-color: var(--color-principal);
}
.img-contenedor img{
    height: 600px;
}
.main-image {
    height: 500px;
    object-fit: cover;
}

.thumbnails {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.thumbnail:hover,
.thumbnail[aria-current="true"] {
    opacity: 1;
    border: 2px solid #fff;
}
.card {
    background-color: #f3f3f3;
}
.card:hover{
    color: var(--color-principal); /* Cambia el color del texto al hacer hover */
    transition: color 0.3s ease;
}
.section-card{
    background-color: #f3f3f3;
    height: auto;
}

@media (max-width: 768px) {
    .container-titulo {
        font-size: 3rem;
        margin: 10px 20px;
        text-align: center;
    }
    .navbar-nav .nav-link {
        font-size: 0.9rem;
    }
    .btn-morado {
        padding: 0.3rem 0.8rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .container-titulo {
        font-size: 1.5rem;
        margin: 5px 10px;
        text-align: center;
    }
    .contenedor-redes {
        font-size: 1rem;
        height: 25px;
    }
}